extends ../layout

block content
  .container
    h3
      a(href="/users") User List
    h1 Edit User
    form(action=("/users/update/"+user._id) method="post")
      table
        tbody
          tr
            td First Name
            td
              input(type="text" name="first_name" value=(user.first_name))
          tr
            td Last Name
            td
              input(type="text" name="last_name" value=(user.last_name))
          tr
            td Email
            td
              input(type="text" name="email" value=(user.email))
          tr
            td(colspan="2")
              input(type="submit" value="Update")
